html, body, #app{
    width: 100%;
    height: 100%;
}
.page{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 49px;
    overflow: hidden;
    background: #fff;
}
.subpage{
    bottom: 0;
    z-index: 10;
}
.slideInDown, .slideOutUp, .fadeIn, .fadeOut, .slideInRight, .slideOutRight{
    animation-duration: 300ms;
}
.ly-tabbar{
    box-shadow: none !important;
}
.ly-tabbar .ly-tab-list{
    padding: 4px 10px;
}
.ly-tabbar .ly-tab-list .ly-tab-item{
    font-size: 12px;
}
