<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    div{
      width: 100px;
      height: 100px;
      background: red;
    }
  </style>
</head>
<body>
  <h1>这里是模板引擎案例</h1>
  <div>
    名字: <%= name %>
    <br>
     年龄：<%= age %>
  </div>
</body>
</html>